# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-log.txt
pip-delete-this-directory.txt

# Visual Studio
.vs/
*.suo
*.user
*.sln.docstates
*.sln.dotCover
*.db
# Add any other database files if you have them, e.g., stock.db

# Secrets - manually add any file that contains passwords or API keys
secrets.ini
.env